<div class="sidebar">
  <div class="MenuButton" routerLink="/Menu">
    <p>RTS</p>
  </div>
  <div class="CancelButton" routerLink="/13">
    <p>X</p>
  </div>
</div>
<div class="SelectRoue">
  <button class="CenterButton">
    {{BtnCenterText}}
  </button>

  <div class="Button1" class="menuLabel" id="Button2" routerLink="/1311">
    <label>{{ LbButton1 }} </label>
    <button class="menuButton"><fa-icon class="faButton" [icon]="faDatabase">  </fa-icon></button>
  </div>

  <div class="Button1" class="menuLabel" id="Button3" routerLink="/1312">
    <label>{{ LbButton2 }} </label>
    <button class="menuButton"><fa-icon class="faButton" [icon]="faDatabase">  </fa-icon></button>
  </div>

  <div class="Button1" class="menuLabel" id="Button4" routerLink="/1313">
    <label>{{ LbButton4 }} </label>
    <button class="menuButton"><fa-icon class="faButton" [icon]="faDatabase"></fa-icon></button>
  </div>


  <div class="Button1" class="menuLabel" id="Button7" style="margin-left: 0%;" routerLink="/1314">
    <button class="menuButton"><fa-icon class="faButton" [icon]="faDatabase">  </fa-icon></button>
    <label style="margin-left: 10px;">{{ LbButton3 }} </label>
  </div>

  <div class="Button1" class="menuLabel" id="Button8" style="margin-left: 0%;" routerLink="/1315">
    <button class="menuButton"><fa-icon class="faButton" [icon]="faDatabase">  </fa-icon></button>
    <label style="margin-left: 10px;">{{ LbButton5 }} </label>
  </div>

</div>
