<div class="sidebar">
    <div class="MenuButton" routerLink="/Menu">
      <p>Menu</p>
    </div>
    <div class="TitlePage">
      <p>Vestiaires</p>
    </div>
    <div class="CancelButton" routerLink="/14">
      <p>X</p>
    </div>
  </div>
  <div class="container">
    <div class="Button1" class="menuLabel" id="Button1" routerLink="/141">
        <button class="menuButton">1</button>
    </div>
    <div class="centerContainer">
        <div class="entry">
            <div class="entryRow">
                <div class="entrySpell">
                    300
                </div>
                <div class="entrySpell" style="background: #595959; color: white; border: solid white 1px;">
                    Femmes
                </div>
                <div class="entrySpell">
                    300 €
                </div>
            </div>
            <div class="entryRow">
                <div class="entrySpell">
                    2550
                </div>
                <div class="entrySpell" style="padding: 5px; width: 120px; height: 40px;">
                     Divers femmes
                </div>
                <div class="entrySpell">
                    250 €
                </div>
            </div>
            <div class="entryRow">
                <div class="entrySpell">
                    300
                </div>
                <div class="entrySpell" style="background: #595959; color: white; border: solid white 1px;">
                    Hommes
                </div>
                <div class="entrySpell">
                    300 €
                </div>
            </div>
            <div class="entryRow">
                <div class="entrySpell">
                    250
                </div>
                <div class="entrySpell" style="padding: 5px; width: 120px; height: 40px;">
                     Divers hommes
                </div>
                <div class="entrySpell">
                    250 €
                </div>
            </div>
            <div class="entryRow">
                <div class="entrySpell">
                    300
                </div>
                <div class="entrySpell" style="background: #595959; color: #FFC001; border: solid #FFC001 1px;">
                    VIP
                </div>
                <div class="entrySpell">
                    300 €
                </div>
            </div>
            <div class="entryRow">
                <div class="entrySpell">
                    250
                </div>
                <div class="entrySpell" style="padding: 5px; width: 120px; height: 40px;">
                     Divers VIP
                </div>
                <div class="entrySpell">
                    250 €
                </div>
            </div>           
        </div>
    </div>    

    <div class="Button1" class="menuLabel" id="Button8" routerLink="/141">
        <button class="menuButton">2</button>
    </div>

  </div>