<div class="sidebar">
    <div class="MenuButton" routerLink="/Menu">
      <p>Menu</p>
    </div>
    <div class="CancelButton" routerLink="/1472">
      <p>X</p>
    </div>
  </div>
  <div class="SelectRoue">
    <button class="CenterButton">
      Entrées
    </button>
 
    <div class="Button1" class="menuLabel" id="Button3" routerLink="/147211/1">
      <label>Entrées 1 </label>
      <button class="menuButton"><fa-icon class="faButton" [icon]="faDatabase">  </fa-icon></button>
    </div>

      <div class="Button1" class="menuLabel" id="Button7" style="margin-left: 0%;" routerLink="/147211/2">
        <button class="menuButton"><fa-icon class="faButton" [icon]="faDatabase">  </fa-icon></button>
        <label style="margin-left: 10px;">Entrées 2 </label>
      </div>
  
    <div class="Button1" class="menuLabel" id="Button8" style="margin-left: 0%;" routerLink="/147211/3">
      <button class="menuButton"><fa-icon class="faButton" [icon]="faDatabase">  </fa-icon></button>
      <label style="margin-left: 10px;">Entrées 3 </label>
    </div>

    <div class="Button1" class="menuLabel" id="Button9" style="margin-left: 0%;" routerLink="/147211/4">
        <button class="menuButton"><fa-icon class="faButton" [icon]="faDatabase">  </fa-icon></button>
        <label style="margin-left: 10px;">Entrées 4 </label>
      </div>
  
  </div>
