<div class="sidebar">
  <div class="MenuButton">
    <p>RTS</p>
  </div>
  <div class="TitlePage">
    <p>Bar {{BarId}}</p>
  </div>
  <div class="CancelButton" routerLink="/181/{{BarId}}">
    <p>X</p>
  </div>
</div>
<div class="container">
  <div class="outer">
    <div class="inner">
      <table mdbTable class="main-table">
        <thead>
          <tr>
            <!--<th class="GeneralCase hard_left" scope="col">{{ label1 }}</th>
            <th class="TarifCase" scrope="col">Bar 1</th>-->
            <th class="GeneralCase hard_left" scope="col">
              SOFT
            </th>
          </tr>
          <tr>
            <td class="GeneralCase hard_left" scope="col">Produits</td>
            <td class="GeneralCase hard_left" scope="col">Quantité</td>
            <td class="GeneralCase hard_left" scope="col">Cl/Gr</td>
          </tr>
        </thead>
        <tbody style="margin-top: 10px;">
          <!--<tr mdbTableCol *ngFor="let el of attribReservs">
            <th class="hard_left">{{ el.AttribName }}</th>
            <td style="background-color: transparent;"><input type="radio" /></td>
            <td style="background-color: transparent;"><input type="radio" /></td>
            <td style="background-color: transparent;"><input type="radio" /></td>
            <td style="background-color: transparent;"><input type="radio" /></td>
            <td style="background-color: transparent;"><input type="radio" /></td>
            <td style="background-color: transparent;"><input type="radio" /></td>
            <td style="background-color: transparent;"><input type="radio" /></td>
            <td style="background-color: transparent;"><input type="radio" /></td>
            <td style="background-color: transparent;"><input type="radio" /></td>
            <td style="background-color: transparent;"><input type="radio" /></td>
            <td style="background-color: transparent;"><input type="radio" /></td>
            <td style="background-color: transparent;"><input type="radio" /></td>
            <td style="background-color: transparent;"><input type="radio" /></td>
            <td style="background-color: transparent;"><input type="radio" /></td>
            <td style="background-color: transparent;"><input type="radio" /></td>
          </tr>-->
        </tbody>
      </table>
    </div>
  </div>
</div>
