<div class="sidebar">
    <div class="MenuButton" (click)="SaveProduct()">
      <p>Valider</p>
    </div>
    <div class="TitlePage">
      <p>Recettes Vestiaire {{entryId}}</p>
    </div>
    <div class="CancelButton" routerLink="/14722">
      <p>X</p>
    </div>
</div>
<div class="container">
    <div class="center">
        <table>
            <tr>
                <td>500 €</td>
                <td>
                    X
                    <input type="number"/>
                    =
                </td>
                <td>0 €</td>
                <td style="width: 25px;"></td>
                <td rowspan="2">
                    <div class="btnTotal" style="color: #A1D562; border: solid #A1D562 2px;">
                        Tiziana fauve d'ermilio
                    </div>
                </td>
            </tr>
            <tr>
                <td>200 €</td>
                <td>
                    X
                    <input type="number"/>
                    =
                </td>
                <td>0 €</td>
            </tr>
            <tr>
                <td>100 €</td>
                <td>
                    X
                    <input type="number"/>
                    =
                </td>
                <td>0 €</td>
            </tr>
            <tr>
                <td>50 €</td>
                <td>
                    X
                    <input type="number"/>
                    =
                </td>
                <td>0 €</td>
                <td style="width: 25px;"></td>
                <td rowspan="2">
                    <div class="btnTotal">
                        Fond de caisse: 1000,00€
                    </div>
                </td>
            </tr>
            <tr>
                <td>20 €</td>
                <td>
                    X
                    <input type="number"/>
                    =
                </td>
                <td>0 €</td>
            </tr>
            <tr>
                <td>10 €</td>
                <td>
                    X
                    <input type="number"/>
                    =
                </td>
                <td>0 €</td>
                <td style="width: 25px;"></td>
                <td rowspan="2">
                    <div class="btnTotal">
                        Recette: 4500,00€
                    </div>
                </td>
            </tr>
            <tr>
                <td>5 €</td>
                <td>
                    X
                    <input type="number"/>
                    =
                </td>
                <td>0 €</td>
            </tr>
            <tr>
                <td>2 €</td>
                <td>
                    X
                    <input type="number"/>
                    =
                </td>
                <td>0 €</td>
                <td style="width: 25px;"></td>
                <td rowspan="2">
                    <div class="btnTotal">
                        Ventes réelles: 3510,00€
                    </div>
                </td>
            </tr>
            <tr>
                <td>1 €</td>
                <td>
                    X
                    <input type="number"/>
                    =
                </td>
                <td>0 €</td>                
            </tr>  
            <tr>
                <td>0,50 €</td>
                <td>
                    X
                    <input type="number"/>
                    =
                </td>
                <td>0,00 €</td>
                <td style="width: 25px;"></td>
                <td rowspan="2">
                    <div class="btnTotal">
                        Résultat: Trou de 10,00€
                    </div>
                </td>
            </tr>
            <tr>
                <td>0,20 €</td>
                <td>
                    X
                    <input type="number"/>
                    =
                </td>
                <td>0,00 €</td>                
            </tr>     
            <tr>
                <td>0,10 €</td>
                <td>
                    X
                    <input type="number"/>
                    =
                </td>
                <td>0,00 €</td>
            </tr>
            <tr>
                <td>0,05 €</td>
                <td>
                    X
                    <input type="number"/>
                    =
                </td>
                <td>0,00 €</td>                
            </tr>     
            <tr>
                <td>0,02 €</td>
                <td>
                    X
                    <input type="number"/>
                    =
                </td>
                <td>0,00 €</td>
            </tr>
            <tr>
                <td>0,01 €</td>
                <td>
                    X
                    <input type="number"/>
                    =
                </td>
                <td>0,00 €</td>                
            </tr>          
        </table>
        <br>
        <div style="color: white;">
            Bancontact
            <span><input type="number"/></span>
            Tickets
            <span> = <input type="number"/></span>
        </div>
        <br>
    </div>    
</div>