<div class="sidebar">
    <div class="MenuButton" (click)="SaveProduct()">
      <p>Valider</p>
    </div>
    <div class="TitlePage">
      <p>Fond de caisse Toilette {{toiletId}}</p>
    </div>
    <div class="CancelButton" routerLink="/14715">
      <p>X</p>
    </div>
</div>
<div class="container">
    <div class="center">
        <table>
            <tr>
                <td>500 €</td>
                <td>
                    X
                    <input type="number"/>
                    =
                </td>
                <td>1.000 €</td>
                <td style="width: 25px;"></td>
                <td>2 €</td>
                <td>
                    X
                    <input type="number"/>
                    =
                </td>
                <td>0 €</td>
            </tr>
            <tr>
                <td>200 €</td>
                <td>
                    X
                    <input type="number"/>
                    =
                </td>
                <td>0 €</td>
                <td style="width: 25px;"></td>
                <td>1 €</td>
                <td>
                    X
                    <input type="number"/>
                    =
                </td>
                <td>0 €</td>
            </tr>
            <tr>
                <td>100 €</td>
                <td>
                    X
                    <input type="number"/>
                    =
                </td>
                <td>0 €</td>
                <td style="width: 25px;"></td>
                <td>0,50 €</td>
                <td>
                    X
                    <input type="number"/>
                    =
                </td>
                <td>0,00 €</td>
            </tr>
            <tr>
                <td>50 €</td>
                <td>
                    X
                    <input type="number"/>
                    =
                </td>
                <td>0 €</td>
                <td style="width: 25px;"></td>
                <td>0,10 €</td>
                <td>
                    X
                    <input type="number"/>
                    =
                </td>
                <td>0,00 €</td>
            </tr>
            <tr>
                <td>20 €</td>
                <td>
                    X
                    <input type="number"/>
                    =
                </td>
                <td>0 €</td>
                <td style="width: 25px;"></td>
                <td>0,05 €</td>
                <td>
                    X
                    <input type="number"/>
                    =
                </td>
                <td>0,00 €</td>
            </tr>
            <tr>
                <td>10 €</td>
                <td>
                    X
                    <input type="number"/>
                    =
                </td>
                <td>0 €</td>
                <td style="width: 25px;"></td>
                <td>0,02 €</td>
                <td>
                    X
                    <input type="number"/>
                    =
                </td>
                <td>0,00 €</td>
            </tr>
            <tr>
                <td>5 €</td>
                <td>
                    X
                    <input type="number"/>
                    =
                </td>
                <td>0 €</td>
                <td style="width: 25px;"></td>
                <td>0,01 €</td>
                <td>
                    X
                    <input type="number"/>
                    =
                </td>
                <td>0,00 €</td>
            </tr>
        </table>
        <br>
        <div class="btnTotal">
            1000,00 €
        </div>
    </div>    
</div>