<div class="sidebar">
    <div class="MenuButton" routerLink="/Menu">
      <p>RTS</p>
    </div>
    <div class="CancelButton" routerLink="/131">
      <p>X</p>
    </div>
  </div>
  <div class="SelectRoue">
    <button class="CenterButton">
      Transfert réserves
    </button>
 
    <div class="Button1" class="menuLabel" id="Button3" routerLink="/13121">
      <label>Réappro </label>
      <button class="menuButton"><fa-icon class="faButton" [icon]="faDatabase">  </fa-icon></button>
    </div>
  
    <div class="Button1" class="menuLabel" id="Button8" style="margin-left: 0%;" routerLink="/13122">
      <button class="menuButton"><fa-icon class="faButton" [icon]="faDatabase">  </fa-icon></button>
      <label style="margin-left: 10px;">Retour </label>
    </div>
  
  </div>