<div class="sidebar">
    <div class="MenuButton" routerLink="/Menu">
      <p>Menu</p>
    </div>
    <div class="CancelButton" routerLink="/1472">
      <p>X</p>
    </div>
  </div>
  <div class="SelectRoue">
    <button class="CenterButton">
      Serveurs
    </button>

    <div class="Button1" class="menuLabel" id="Button2" routerLink="/147241/1">
        <label>Serveur 1 </label>
        <button class="menuButton"><fa-icon class="faButton" [icon]="faDatabase">  </fa-icon></button>
      </div>
 
    <div class="Button1" class="menuLabel" id="Button3" routerLink="/147241/2">
      <label>Serveur 2 </label>
      <button class="menuButton"><fa-icon class="faButton" [icon]="faDatabase">  </fa-icon></button>
    </div>

    <div class="Button1" class="menuLabel" id="Button4" routerLink="/147241/3">
        <label>Serveur 2 </label>
        <button class="menuButton"><fa-icon class="faButton" [icon]="faDatabase">  </fa-icon></button>
      </div>

      <div class="Button1" class="menuLabel" id="Button7" style="margin-left: 0%;" routerLink="/147241/4">
        <button class="menuButton"><fa-icon class="faButton" [icon]="faDatabase">  </fa-icon></button>
        <label style="margin-left: 10px;">Serveur 4 </label>
      </div>
  
    <div class="Button1" class="menuLabel" id="Button8" style="margin-left: 0%;" routerLink="/147241/5">
      <button class="menuButton"><fa-icon class="faButton" [icon]="faDatabase">  </fa-icon></button>
      <label style="margin-left: 10px;">Serveur 5 </label>
    </div>
