<div class="sidebar">
  <div class="MenuButton" (click)="test()">
    <p>RTS</p>
  </div>
  <div class="CancelButton" routerLink="/">
    <p>X</p>
  </div>
</div>
<div class="SelectRoue">
  <button class="CenterButton">
    {{BtnCenterText}}
  </button>

  <div class="Button1" class="menuLabel" id="Button1" routerLink="/11">
    <label>{{ LbButton1 }} </label>
    <button class="menuButton"><fa-icon class="faButton" [icon]="faCog"></fa-icon></button>
  </div>

  <div class="Button1" class="menuLabel" id="Button2" routerLink="/12">
    <label>{{ LbButton2 }} </label>
    <button class="menuButton"><fa-icon class="faButton" [icon]="faMoneyBill">  </fa-icon></button>
  </div>

  <div class="Button1" class="menuLabel" id="Button3" routerLink="/14">
    <label>{{ LbButton3 }} </label>
    <button class="menuButton"><fa-icon class="faButton" [icon]="faCreditCard">  </fa-icon></button>
  </div>

  <div class="Button1" class="menuLabel" id="Button4" routerLink="/13">
    <label>{{ LbButton4 }} </label>
    <button class="menuButton"><fa-icon class="faButton" [icon]="faDatabase"></fa-icon></button>
  </div>

  <div class="Button1" class="menuLabel" id="Button5" routerLink="/15">
    <label>{{ LbButton5 }} </label>
    <button class="menuButton"><fa-icon class="faButton" [icon]="faLock">  </fa-icon></button>
  </div>

  <div class="Button1" class="menuLabel" id="Button6" style="margin-left: 0%;" routerLink="/16">
    <button class="menuButton"><fa-icon class="faButton" [icon]="faDoorOpen">  </fa-icon></button>
    <label style="margin-left: 10px;">{{ LbButton6 }} </label>
  </div>

  <div class="Button1" class="menuLabel" id="Button7" style="margin-left: 0%;">
    <button class="menuButton"><fa-icon class="faButton" [icon]="faMale">  </fa-icon></button>
    <label style="margin-left: 10px;">{{ LbButton7 }} </label>
  </div>

  <div class="Button1" class="menuLabel" id="Button8" style="margin-left: 0%;" routerLink="/18">
    <button class="menuButton"><fa-icon class="faButton" [icon]="faGlass">  </fa-icon></button>
    <label style="margin-left: 10px;">{{ LbButton8 }} </label>
  </div>

  <div class="Button1" class="menuLabel" id="Button9" style="margin-left: 0%;">
    <button class="menuButton"><fa-icon class="faButton" [icon]="faGlass">  </fa-icon></button>
    <label style="margin-left: 10px;">{{ LbButton9 }} </label>
  </div>

  <div class="Button1" class="menuLabel" id="Button10" style="margin-left: 0%;">
    <button class="menuButton"><fa-icon class="faButton" [icon]="faMale">  </fa-icon></button>
    <label style="margin-left: 10px;">{{ LbButton10 }} </label>
  </div>
</div>
