<div class="sidebar">
  <div class="MenuButton" routerLink="/Menu">
    <p>Menu</p>
  </div>
  <div class="CancelButton" routerLink="/Menu">
    <p>X</p>
  </div>
</div>
<div class="SelectRoue">
  <button class="CenterButton">
    {{BtnCenterText}}
  </button>

  <div class="Button1" class="menuLabel" id="Button3" routerLink="/131">
    <label>{{ LbButton1 }} </label>
    <button class="menuButton"><fa-icon class="faButton" [icon]="faDatabase"></fa-icon></button>
  </div>

  <div class="Button1" class="menuLabel" id="Button7" style="margin-left: 0%;" [routerLink]="['/132', 1]">
    <button class="menuButton"><fa-icon class="faButton" [icon]="faDatabase"></fa-icon></button>
    <label style="margin-left: 10px;">{{ LbButton2 }} </label>
  </div>

  <div class="Button1" class="menuLabel" id="Button8" style="margin-left: 0%;" [routerLink]="['/132', 2]">
    <button class="menuButton"><fa-icon class="faButton" [icon]="faDatabase"></fa-icon></button>
    <label style="margin-left: 10px;">{{ LbButton3 }} </label>
  </div>

  <div class="Button1" class="menuLabel" id="Button9" style="margin-left: 0%;" [routerLink]="['/132', 3]">
    <button class="menuButton"><fa-icon class="faButton" [icon]="faDatabase"></fa-icon></button>
    <label style="margin-left: 10px;">{{ LbButton4 }} </label>
  </div>
</div>
