<div class="sidebar">
    <div class="MenuButton" routerLink="/Menu">
      <p>Menu</p>
    </div>
    <div class="CancelButton" routerLink="/16">
      <p>X</p>
    </div>
  </div>
  <div class="SelectRoue">
    <button class="CenterButton">
      {{BtnCenterText}}
    </button>
  
    <div class="Button1" class="menuLabel" id="Button3" [routerLink]="['/1611/', barId]">
      <label>{{ LbButton1 }} </label>
      <button class="menuButton"><fa-icon class="faButton" [icon]="faCreditCard">  </fa-icon></button>
    </div>
  
    <div class="Button1" class="menuLabel" id="Button8" style="margin-left: 0%;">
      <button class="menuButton"><fa-icon class="faButton" [icon]="faGlass">  </fa-icon></button>
      <label style="margin-left: 10px;">{{ LbButton2 }} </label>
    </div>
  </div>
  