<div class="sidebar">
    <div class="MenuButton" routerLink="/Menu">
      <p>Menu</p>
    </div>
    <div class="TitlePage">
      <p>Serveurs</p>
    </div>
    <div class="CancelButton" routerLink="/14">
      <p>X</p>
    </div>
  </div>
  <div class="container">
    <div class="Button1" class="menuLabel" id="Button2" routerLink="/141">
        <button class="menuButton">1</button>
    </div>
    <div class="Button1" class="menuLabel" id="Button3" routerLink="/141">
        <button class="menuButton">2</button>
    </div>
    <div class="Button1" class="menuLabel" id="Button4" routerLink="/141">
        <button class="menuButton">3</button>
    </div>
    <div class="centerContainer">
        <div class="entry">
            <div class="entryRow">
                <div class="entrySpell">
                    1000
                </div>
                <div class="entrySpellBis" style="background: #595959; color: white; border: solid white 1px;">
                    Ventes
                </div>
                <div class="entrySpell">
                    1000 €
                </div>
            </div>    
            <div class="entryRow">
                <div class="entrySpell">
                    200
                </div>
                <div class="entrySpellBis" style="background: #595959; color: white; border: solid white 1px;">
                    Offerts / Casses
                </div>
                <div class="entrySpell">
                    100 €
                </div>
            </div>  
            <div class="entryRow">
                <div class="entrySpell">
                    28
                </div>
                <div class="entrySpellBis" style="background: #595959; color: white; border: solid white 1px;">
                    Annulations
                </div>
                <div class="entrySpell">
                    28 €
                </div>
            </div>           
        </div>
    </div>  
    <div class="Button1" class="menuLabel" id="Button7" routerLink="/141">
        <button class="menuButton">4</button>
    </div>  
    <div class="Button1" class="menuLabel" id="Button8" routerLink="/141">
        <button class="menuButton">5</button>
    </div>
  </div><p>page144 works!</p>
