<div class="sidebar">
    <div class="MenuButton" routerLink="/Menu">
      <p>Menu</p>
    </div>
    <div class="TitlePage">
      <p>Entrées</p>
    </div>
    <div class="CancelButton" routerLink="/14">
      <p>X</p>
    </div>
  </div>
  <div class="container">
    <div class="Button1" class="menuLabel" id="Button1" routerLink="/141">
        <button class="menuButton">1</button>
    </div>
    <div class="centerContainer">
        <div class="entry">
            <div class="entryRow">
                <div class="entrySpell">
                    600
                </div>
                <div class="entrySpell" style="background: #595959; color: white; border: solid white 1px;">
                    Femmes
                </div>
                <div class="entrySpell">
                    3000 €
                </div>
            </div>
            <div class="entryRow">
                <div class="entrySpell">
                    500
                </div>
                <div class="entrySpell" style="background: #595959; color: white; border: solid white 1px;">
                    Hommes
                </div>
                <div class="entrySpell">
                    5000 €
                </div>
            </div>
            <div class="entryRow">
                <div class="entrySpell">
                    100
                </div>
                <div class="entrySpell" style="background: #595959; color: #FFC001; border: solid #FFC001 1px;">
                    VIP
                </div>
                <div class="entrySpell">
                    0 €
                </div>
            </div>
            <div class="entryRow">
                <div class="entrySpell">
                    14
                </div>
                <div class="entrySpell" style="background: #595959; color: #FFC001; border: solid #FFC001 1px;">
                    Anniversaires
                </div>
                <div class="entrySpell">
                    0 €
                </div>
            </div>
            <div class="entryRow">
                <div class="entrySpell">
                    24
                </div>
                <div class="entrySpell" style="background: #595959; color: #FFC001; border: solid #FFC001 1px;">
                    Gratuits
                </div>
                <div class="entrySpell">
                    0 €
                </div>
            </div>
        </div>
    </div>    
    <div class="Button1" class="menuLabel" id="Button7" routerLink="/141">
        <button class="menuButton">2</button>
    </div>
    <div class="Button1" class="menuLabel" id="Button8" routerLink="/141">
        <button class="menuButton">3</button>
    </div>
    <div class="Button1" class="menuLabel" id="Button9" routerLink="/141">
        <button class="menuButton">4</button>
    </div>
  </div>