<div class="sidebar">
    <div class="MenuButton" (click)="SaveProduct()">
      <p>Valider</p>
    </div>
    <div class="TitlePage">
      <p>Retour réserve {{ReservId}}</p>
    </div>
    <div class="CancelButton" routerLink="/13122">
      <p>X</p>
    </div>
  </div>
  <div class="container" style="overflow-y: auto;">
    <div class="tableCategory" *ngFor="let cat of ProductCategories">
      <table>
          <colgroup span="3"></colgroup>
          <thead>
              <tr>
                  <th id="ProductName" colspan="3" scope="colgroup">
                      <div class="CategoryName">
                        {{cat.ProductCategoryName}}
                      </div>
                  </th>
                  <th style="visibility: hidden; width: 25px;"></th>
                  <th style="border:none;" colspan="2">
                    <div class="RedCaseTitleThrid">
                      Surstock
                    </div>
                  </th>
                  <th style="visibility: hidden; width: 25px;"></th>
                  <th style="border:none;" colspan="2">
                    <div class="RedCaseTitleThrid">
                      Stock repris
                    </div>
                  </th>
                  <th style="visibility: hidden; width: 25px;"></th>
                  <th style="border:none;" rowspan="2">
                    <div class="RedCaseTitleSecond">
                      Total bouteilles
                    </div>
                  </th>
              </tr>
              <tr>
                  <th id="ProductName" scope="col">
                    <div class="ProductTable">
                      {{Product}}
                    </div>
                  </th>
                  <th id="Quant" class="headcol" scope="col">
                    <div class="QuantTable">
                      {{ Quant }}
                    </div>
                  </th>
                  <th id="Dose" class="headcol" scope="col">
                    <div class="QuantTable">
                      {{ Dose }}
                    </div>
                  </th>
                  <th style="visibility: hidden; width: 25px;"></th>
                  <th style="border:none;">
                    <div class="RedCaseTitle">
                      Cassier
                    </div>
                  </th>
                  <th style="border:none;">
                    <div class="RedCaseTitle">
                      Bouteilles
                    </div>
                  </th>
                  <th style="visibility: hidden; width: 25px;"></th>
                  <th style="border:none;">
                    <div class="RedCaseTitle">
                      Cassier
                    </div>
                  </th>
                  <th style="border:none;">
                    <div class="RedCaseTitle">
                      Bouteilles
                    </div>
                  </th>
                </tr>
          </thead>
          <tbody class="tableBody" style="border:none">
              <tr *ngFor="let prod of cat.Products; let i = index" style="border:none;">
                <th style="background: #5A5A5A; color: white; border: 1px solid #5A5A5A; text-align: center;" class="productNameRow" contenteditable="true" (click)="openDialog('Product Name', ProductName)" (blur)="ValidProductName(prod, ProductName.innerText)" #ProductName>
                  {{prod.ProductName}}
                </th>
                <th style="background: #5A5A5A; color: white; border: 1px solid #5A5A5A; text-align: center;" contenteditable="true" (click)="openDialog('Product Quantity', ProductQte)" (blur)="ValidProductQte(prod, ProductQte.innerText)" #ProductQte>
                  {{prod.QteStock}}
                </th>
                <th style="background: #5A5A5A; color: white; border: 1px solid #5A5A5A; text-align: center;" contenteditable="true">
                  <div *ngIf='prod.ProductName != ""'>
                    {{prod.UniteTypeMsg ? 'Gr' : 'Cl'}}
                  </div>
                </th>
                <th style="visibility: hidden; width: 25px;"></th>
                <th style="background: gray; color: white; border: 1px solid gray; text-align: center;">
                </th>
                <th style="background: gray; color: white; border: 1px solid gray; text-align: center;">
                </th>
                <th style="visibility: hidden; width: 25px;"></th>
                <th style="background: white; color: black; border: 1px solid gray; text-align: center;">
                </th>
                <th style="background: white; color: black; border: 1px solid gray; text-align: center;">
                </th>
                <th style="visibility: hidden; width: 25px;"></th>
                <th style="background: gray; color: white; border: 1px solid gray; text-align: center;">
                </th>
              </tr>
          </tbody>
      </table>
  </div>
  
  
  </div>
  