<div class="sidebar">
    <div class="MenuButton" routerLink="/Menu">
      <p>Menu</p>
    </div>
    <div class="CancelButton" routerLink="/147">
      <p>X</p>
    </div>
  </div>
  <div class="SelectRoue">
    <button class="CenterButton">
      Fonds de caisse
    </button>

    <div class="Button1" class="menuLabel" id="Button2" routerLink="/14711">
        <label>Entrées </label>
        <button class="menuButton"><fa-icon class="faButton" [icon]="faDatabase">  </fa-icon></button>
      </div>
 
    <div class="Button1" class="menuLabel" id="Button3" routerLink="/14712">
      <label>Vestiaires </label>
      <button class="menuButton"><fa-icon class="faButton" [icon]="faDatabase">  </fa-icon></button>
    </div>

    <div class="Button1" class="menuLabel" id="Button4" routerLink="/14713">
        <label>Bars </label>
        <button class="menuButton"><fa-icon class="faButton" [icon]="faDatabase">  </fa-icon></button>
      </div>

      <div class="Button1" class="menuLabel" id="Button7" style="margin-left: 0%;" routerLink="/14714">
        <button class="menuButton"><fa-icon class="faButton" [icon]="faDatabase">  </fa-icon></button>
        <label style="margin-left: 10px;">Serveurs </label>
      </div>
  
    <div class="Button1" class="menuLabel" id="Button8" style="margin-left: 0%;" routerLink="/14715">
      <button class="menuButton"><fa-icon class="faButton" [icon]="faDatabase">  </fa-icon></button>
      <label style="margin-left: 10px;">Toilettes </label>
    </div>
  
  </div>