<div class="sidebar">
  <div class="MenuButton" routerLink="/Menu">
    <p>RTS</p>
  </div>
  <div class="TitlePage">
    <p>Sécurité</p>
  </div>
  <div class="CancelButton" routerLink="/caisse/{{BarId}}">
    <p>X</p>
  </div>
</div>
<div class="container">
  <div class="touchGestionPannel">
    <div style="margin-right: 15px; display: inline-block;">
      <div class="touch2" style="border: 1px solid #92D050; color: #92D050;">Niv 1</div>
    </div>
    <div style="margin-right: 15px; display: inline-block;">
      <div class="touch2" style="border: 1px solid #FCBE00; color: #FCBE00;">Niv 2</div>
    </div>
    <div style="margin-right: 15px; display: inline-block;">
      <div class="touch2" style="border: 1px solid #FF6463; color: #FF6463;">Niv 3</div>
    </div>
  </div>
</div>
