<div class="sidebar">
  <div class="MenuButton" routerLink="/Menu">
    <p>Menu</p>
  </div>
  <div class="CancelButton" routerLink="/11">
    <p>X</p>
  </div>
</div>
<div class="SelectRoue">
  <button class="CenterButton" (click)="login()">
    {{BtnCenterText}}
  </button>

  <div class="Button1" class="menuLabel" id="Button2" routerLink="/1131">
    <label>{{ LbButton2 }} </label>
    <button class="menuButton"><fa-icon class="faButton" [icon]="faGlass"></fa-icon></button>
  </div>

  <div class="Button1" class="menuLabel" id="Button3" routerLink="/1132">
    <label>{{ LbButton3 }} </label>
    <button class="menuButton"><fa-icon class="faButton" [icon]="faGlass"></fa-icon></button>
  </div>

  <div class="Button1" class="menuLabel" id="Button4" routerLink="/1133">
    <label>{{ LbButton4 }} </label>
    <button class="menuButton"><fa-icon class="faButton" [icon]="faGlass"></fa-icon></button>
  </div>

  <div class="Button1" class="menuLabel" id="Button7" style="margin-left: 0%;" routerLink="/1134">
    <button class="menuButton"><fa-icon class="faButton" [icon]="faGlass"></fa-icon></button>
    <label style="margin-left: 10px;">{{ LbButton7 }} </label>
  </div>

  <div class="Button1" class="menuLabel" id="Button8" style="margin-left: 0%;" routerLink="/1135">
    <button class="menuButton"><fa-icon class="faButton" [icon]="faGlass"></fa-icon></button>
    <label style="margin-left: 10px;">{{ LbButton8 }} </label>
  </div>
</div>
