<div class="sidebar">
  <div class="MenuButton" routerLink="/Menu">
    <p>Menu</p>
  </div>
  <div class="CancelButton" routerLink="/Menu">
    <p>X</p>
  </div>
</div>
<div class="SelectRoue">
  <button class="CenterButton">
    {{BtnCenterText}}
  </button>

  <div class="Button1" class="menuLabel" id="Button2" routerLink="/111">
    <label>{{ LbButton2 }} </label>
    <button class="menuButton"><fa-icon class="faButton" [icon]="faMoney"></fa-icon></button>
  </div>

  <div class="Button1" class="menuLabel" id="Button3" routerLink="/112">
    <label>{{ LbButton3 }} </label>
    <button class="menuButton"><fa-icon class="faButton" [icon]="faMale"></fa-icon></button>
  </div>

  <div class="Button1" class="menuLabel" id="Button4" routerLink="/113">
    <label>{{ LbButton4 }} </label>
    <button class="menuButton"><fa-icon class="faButton" [icon]="faGlass"></fa-icon></button>
  </div>

  <div class="Button1" class="menuLabel" id="Button7" style="margin-left: 0%;" routerLink="/114">
    <button class="menuButton"><fa-icon class="faButton" [icon]="faMale"></fa-icon></button>
    <label style="margin-left: 10px;">{{ LbButton7 }} </label>
  </div>

  <div class="Button1" class="menuLabel" id="Button8" style="margin-left: 0%;" routerLink="/115">
    <button class="menuButton"><fa-icon class="faButton" [icon]="faTasks"></fa-icon></button>
    <label style="margin-left: 10px;">{{ LbButton8 }} </label>
  </div>

  <div class="Button1" class="menuLabel" id="Button9" style="margin-left: 0%;" routerLink="/116">
    <button class="menuButton"><fa-icon class="faButton" [icon]="faMale"></fa-icon></button>
    <label style="margin-left: 10px;">{{ LbButton9 }} </label>
  </div>
</div>
