.menuLabel {
    color: white;
  }
  
  .menuButton {
    border-radius: 50%;
    border: solid 2px white;
    background: #5A5A5A;
    color: white;
    font-size: 20px;
    margin-left: 10px;
  }
  
  @media(max-width: 1366px) {
    .menuLabel {
      font-size: 22px;
    }
  
    .menuButton {
      width: 100px;
      height: 100px;
    }
  
    #Button1 {
      position: fixed;
      left: 26%;
    }
  
    #Button2 {
      position: fixed;
      left: 18%;
      top: 35%;
    }
  
    #Button3 {
      position: fixed;
      left: 9%;
      top: 52.5%;
    }
  
    #Button4 {
      position: fixed;
      left: 17%;
      top: 70%;
    }
  
    #Button5 {
      position: fixed;
      left: 27%;
      top: 83.5%;
    }
  
    #Button6 {
      position: fixed;
      left: 59%;
    }
  
    #Button7 {
      position: fixed;
      left: 70%;
      top: 35%;
    }
  
    #Button8 {
      position: fixed;
      left: 73.5%;
      top: 52.5%;
    }
  
    #Button9 {
      position: fixed;
      left: 70%;
      top: 70%;
    }
  
    #Button10 {
      position: fixed;
      left: 60%;
      top: 84%;
    }
  }
  
  @media(max-width: 1280px) {
      .line{
          color: white;
          font-size: 15px;
          font-weight: bold;
      }

      .centerContainer{
          position: fixed;
          top: 35%;
          left: 27.5%;
          width: 50%;
      }

    .entry {
        overflow: hidden;
      }
      
      .entryRow {
        overflow: hidden;
        margin-bottom: 25px;
      }
      
      .entrySpell {
        background: white;
        border: solid black 1px;
        border-radius: 5px;
        float: left;
        width: 100px;
        padding: 15px;
        text-align: center;
        font-size: 15px;
        color: gray;
        font-weight: bold;
        margin-right: 25px;
        margin-left: 25px
      }

      .entrySpellBis {
        background: white;
        border: solid black 1px;
        border-radius: 5px;
        float: left;
        width: 150px;
        padding: 15px;
        text-align: center;
        font-size: 15px;
        color: gray;
        font-weight: bold;
        margin-right: 35px;
        margin-left: 35px
      }

    .CenterButton{
      margin-left: 25.6%;
      margin-top: 14%;
    }
    
    .menuLabel {
      font-size: 22px;
    }
  
    .faButton {
      font-size: 42px;
    }
  
    .menuButton {
      width: 100px;
      height: 100px;
    }
  
    #Button1 {
      position: fixed;
      left: 15%;
      top: 20%;
    }
  
    #Button2 {
      position: fixed;
      left: 7.5%;
      top: 35%;
    }
  
    #Button3 {
      position: fixed;
      left: 5%;
      top: 50%;
    }
  
    #Button4 {
      position: fixed;
      left: 7.5%;
      top: 65%;
    }
  
    #Button5 {
      position: fixed;
      left: 15%;
      top: 80%;
    }
  
    #Button6 {
      position: fixed;
      left: 75%;
      top: 20%;
    }
  
    #Button7 {
      position: fixed;
      left: 82.5%;
      top: 35%;
    }
  
    #Button8 {
      position: fixed;
      left: 85.5%;
      top: 50%;
    }
  
    #Button9 {
      position: fixed;
      left: 82.5%;
      top: 65%;
    }
  
    #Button10 {
      position: fixed;
      left: 75%;
      top: 80%;
    }
  }
  
  @media(max-width: 1024px) {
  
    .menuLabel {
      font-size: 20px;
    }
  
    .menuButton {
      width: 75px;
      height: 75px;
    }
  
    #Button1 {
      position: fixed;
      left: 22%;
    }
  
    #Button2 {
      position: fixed;
      left: 14%;
      top: 31%;
    }
  
    #Button3 {
      position: fixed;
      left: 9%;
      top: 49%;
    }
  
    #Button4 {
      position: fixed;
      left: 13%;
      top: 67%;
    }
  
    #Button5 {
      position: fixed;
      left: 23%;
      top: 80.5%;
    }
  
    #Button6 {
      position: fixed;
      left: 56%;
    }
  
    #Button7 {
      position: fixed;
      left: 67%;
      top: 30%;
    }
  
    #Button8 {
      position: fixed;
      left: 70.5%;
      top: 49%;
    }
  
    #Button9 {
      position: fixed;
      left: 67%;
      top: 67%;
    }
  
    #Button10 {
      position: fixed;
      left: 57%;
      top: 80.5%;
    }

    .entrySpellBis {
        background: white;
        border: solid black 1px;
        border-radius: 5px;
        float: left;
        width: 150px;
        padding: 15px;
        text-align: center;
        font-size: 15px;
        color: gray;
        font-weight: bold;
        margin-right: 35px;
        margin-left: 35px
      }
  }
  