<div class="sidebar">
    <div class="MenuButton" routerLink="/Menu">
      <p>Menu</p>
    </div>
    <div class="TitlePage">
      <p>Toilettes</p>
    </div>
    <div class="CancelButton" routerLink="/14">
      <p>X</p>
    </div>
  </div>
  <div class="container">

    <div class="Button1" class="menuLabel" id="Button3" routerLink="/141">
        <button class="menuButton">1</button>
    </div>

    <div class="centerContainer">
        <div class="entry">
            <div class="entryRow">
                <div class="entrySpell">
                    300
                </div>
                <div class="entrySpellBis" style="background: #595959; color: white; border: solid white 1px;">
                    Femmes
                </div>
                <div class="entrySpell">
                    150 €
                </div>
            </div>    
            <div class="entryRow">
                <div class="entrySpell">
                    250
                </div>
                <div class="entrySpellBis" style="background: #595959; color: white; border: solid white 1px;">
                    Pass femmes
                </div>
                <div class="entrySpell">
                    250 €
                </div>
            </div>  
            <div class="entryRow">
                <div class="entrySpell">
                    50
                </div>
                <div class="entrySpellBis" style="background: #595959; color: white; border: solid white 1px;">
                    Hommes
                </div>
                <div class="entrySpell">
                    25 €
                </div>
            </div>
            <div class="entryRow">
                <div class="entrySpell">
                    7
                </div>
                <div class="entrySpellBis" style="background: #595959; color: white; border: solid white 1px;">
                    Pass hommes
                </div>
                <div class="entrySpell">
                    7 €
                </div>
            </div>     
            <div class="entryRow">
                <div class="entrySpell">
                    12
                </div>
                <div class="entrySpellBis" style="background: #595959; color: white; border: solid white 1px;">
                    VIP
                </div>
                <div class="entrySpell">
                    0 €
                </div>
            </div>                
        </div>        
    </div>   
    <div class="Button1" class="menuLabel" id="Button8" routerLink="/141">
        <button class="menuButton">2</button>
    </div>
  </div>
