<div class="sidebar">
  <div class="MenuButton" routerLink="/Menu">
    <p>Menu</p>
  </div>
  <div class="CancelButton" routerLink="/11">
    <p>X</p>
  </div>
</div>
<div class="SelectRoue">
  <button class="CenterButton">
    {{BtnCenterText}}
  </button>

  <div class="Button1" class="menuLabel" id="Button3" routerLink="/1151">
    <label>{{ LbButton3 }} </label>
    <button class="menuButton"><fa-icon class="faButton" [icon]="faDatabase"></fa-icon></button>
  </div>

  <div class="Button1" class="menuLabel" id="Button8" style="margin-left: 0%;" routerLink="/1152">
    <button class="menuButton"><fa-icon class="faButton" [icon]="faBeer"></fa-icon></button>
    <label style="margin-left: 10px;">{{ LbButton8 }} </label>
  </div>

</div>
